h1 {
    color: rgb(154, 163, 124);
    background-color: rgb(56, 44, 31);
    font-family: "Times New Roman";
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

body {
    box-sizing: border-box;
    background-color: papayawhip;
    text-align: center;
}

.bolognese,
.tetrazzini,
.shrimp {
    height: 300px;
    width: 410px;
    border: 10px double rgb(154, 163, 124);
    padding: 0px;
    margin: auto;
}